<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="Sample.ConsoleApplication.Repositories.Mapping" connectionString="mongodb://localhost/Sample?journal=true" />
  </connectionStrings>
  <unity>
    <container>
      <register type="Sample.ConsoleApplication.Infrastructure.IRepositoryFactory, Sample.ConsoleApplication" mapTo="Sample.ConsoleApplication.Repositories.RepositoryFactory, Sample.ConsoleApplication" />
    </container>
  </unity>
</configuration>